/.DS_Store
Achievement 1/Exercise1.5/.DS_Store
Achievement 1/Exercise1.5/Main_tasks/.DS_Store
Achievement 1/Exercise1.5/Practice_tasks/.DS_Store
Achievement 1/.DS_Store
Achievement 1/Exercise1.4/.DS_Store
Achievement 1/.DS_Store
Achievement 1/Exercise1.4/.DS_Store
