# Text backup files
*.bak

#Database
*.sqlite3

*.DS_Store
Achievement 2/Exercise2.6/Screen Recording 2023-12-18 at 09.17.24.mov
Achievement 2/Exercise2.7/.DS_Store
Achievement 2/Exercise2.7/user-journey.mp4
